# ---------- Terraform ----------
terraform/.terraform/*
terraform/**/.terraform/*
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/.terraform.lock.hcl
.terraform/*

# state, plans, crash logs
**/*.tfstate
**/*.tfstate.*
**/*.tfplan
**/*.out
terraform/crash.log
terraform/crash.*.log


# local/secret vars (never commit)
terraform/*.tfvars
terraform/*.tfvars.json

# ---------- General ----------
**/.trivy_cache/*
.idea/
.DS_Store
*.log
.vscode/
**/.venv/*
**/.funcignore/*