# ---------- Terraform ----------
.terraform/*
.terraform/*
terraform.tfstate
terraform.tfstate.backup
.terraform.lock.hcl

# state, plans, crash logs
**/*.tfstate
**/*.tfstate.*
**/*.tfplan
**/*.out
.terraform/crash.log
.terraform/crash.*.log


# ---------- General ----------
**/.trivy_cache/*
.idea/
.DS_Store
*.log
.vscode/
**/.venv/*
**/.funcignore/*