# ---------- Terraform ----------
.terraform/
*.tfstate
*.tfstate.*
*.tfplan
*.out
crash.log
crash.*.log

# Keep the lock file for reproducible providers
!/.terraform.lock.hcl
.terraform.lock.hcl

# ---------- General ----------
**/.trivy_cache/
.idea/
.DS_Store
*.log
.vscode/
**/.venv/
